<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO Game System Admin</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="icon" href="/UNO.icon" type="image/x-icon">
    <script defer src="/script.js"></script>
</head>
<body>
    <div id="grid-container">

        <!-- Header Section  -->
        <%- include("partials/header") %>

        <!-- Sidebar Section  -->
        <%- include("partials/sidebar") %>

         <!-- Main Section -->
         <main class="grid-main">
            <div class="main-body">
                <div class="table-container-primary">
                    <div class="main-body-header">
                        <h2 class="main-title">RECENT EVENTS</h2>
                        <div class="table-button-list">
                            <select name="selector" id="selector" class="dropdown">
                                <option value="Filter">Filter</option>
                                <option value="Win Rate">Start Date</option>
                                <option value="Win Rate">End Date</option>
                                <option value="Win Rate">Number of Participants</option>
                                <option value="Win Rate">Status</option>
                            </select>
                            <button class="table-btn add-btn"><i class="bx bx-plus"></i>Create Event</button>
                            <button class="table-btn">View All</button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Number of Participants</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% locals.recentEvents.forEach(element => { %>
                                <tr>
                                    <td><%= element.eventName %></td>
                                    <td><%= element.eventStartDate %></td>
                                    <td><%= element.eventEndDate %></td>
                                    <td><%= element.numOfParticipants %></td>
                                    <td><%= element.eventStatus %></td>
                                    <td><i class='bx bxs-edit edit' aria-label="Edit"></i><i class='bx bx-trash delete' aria-label="Delete"></i></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Footer Section -->
        <%- include("partials/footer") %>
    </div>
</body>
</html>
