<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO Game System Admin</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="icon" href="/UNO.icon" type="image/x-icon">
    <script defer src="script.js"></script>
</head>
<body>
    <div id="grid-container">

        <!-- Header Section  -->
        <header class="grid-header">
            <div class="header-left">
                <i class='bx bx-search' aria-label="Search icon"></i>
                <input type="text" name="search" id="search" placeholder="Search Anything...">
            </div>
            <div class="header-right">
                <i class='bx bx-user-circle' aria-label="User icon"></i>
            </div>
        </header>

        <!-- Sidebar Section  -->
        <aside class="grid-sidebar" id="sidebar">
            <div class="sidebar-title">UNO GAME SYSTEM ADMIN</div>
            <nav class="sidebar-list">
                <div class="sidebar-list-top">
                    <a href="/" class="sidebar-item"><i class="bx bx-home"></i>Dashboard</a>
                    <a href="/store-items" class="sidebar-item"><i class="bx bxs-package"></i>Store Items</a>
                    <a href="/memberships" class="sidebar-item"><i class="bx bxs-crown"></i>Memberships</a>
                    <a href="/events" class="sidebar-item"><i class="bx bxs-calendar-event"></i>Events</a>
                    <a href="/matches" class="sidebar-item"><i class="bx bxs-joystick"></i>Matches</a>
                </div>
                <div class="sidebar-list-bottom">
                    <a href="/auth/logout" class="sidebar-item"><i class="bx bx-log-out-circle"></i>Logout</a>
                </div>
            </nav>
        </aside>

        <!-- Main Section -->
        <main class="grid-main">
            <div class="main-body">
                <div class="table-container-secondary">
                    <div class="main-body-header">
                        <h2 class="main-title">RECENT EVENTS</h2>
                        <div class="table-button-list">
                            <select name="selector" id="selector" class="dropdown">
                                <option value="Filter">Filter</option>
                                <option value="Win Rate">Start Date</option>
                                <option value="Win Rate">End Date</option>
                                <option value="Win Rate">Number of Participants</option>
                                <option value="Win Rate">Status</option>
                            </select>
                            <button class="table-btn add-btn"><i class="bx bx-plus"></i>Create Event</button>
                            <button class="table-btn">View All</button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Number of Participants</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recentEvents.forEach(element => { %>
                                <tr>
                                    <td><span><%= element.name %></span></td>
                                    <td><%= element.eventStartDate %></td>
                                    <td><%= element.eventEndDate %></td>
                                    <td><%= element.numOfParticipants %></td>
                                    <td><%= element.eventStatus %></td>
                                    <td><span><i class='bx bxs-edit edit' aria-label="Edit"></i><i class='bx bx-trash delete' aria-label="Delete"></i></span></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Footer Section -->
        <footer class="grid-footer">
            <span id="laptop">Developed and Designed By <span>YC Graphixs</span> | <i class="bx bx-copyright"></i> 2024 All rights Reserved.</span>
            <span id="phone">
                <div>Developed and Designed By <span>YC Graphixs</span></div> 
                <div><i class="bx bx-copyright"></i> 2024 All rights Reserved.</div>
            </span>
        </footer>
    </div>
</body>
</html>
