<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO Game System Admin</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="icon" href="/UNO.icon" type="image/x-icon">
    <script defer src="script.js"></script>
</head>
<body>
    <div id="grid-container">

        <!-- Header Section  -->
        <header class="grid-header">
            <div class="header-left">
                <i class="bx bx-search" aria-label="Search icon"></i>
                <input type="text" name="search" id="search" placeholder="Search Anything...">
            </div>
            <div class="header-right">
                <i class="bx bx-user-circle" aria-label="User icon"></i>
            </div>
        </header>

        <!-- Sidebar Section  -->
        <aside class="grid-sidebar" id="sidebar">
            <div class="sidebar-title">UNO GAME SYSTEM ADMIN</div>
            <nav class="sidebar-list">
                <div class="sidebar-list-top">
                    <a href="/" class="sidebar-item"><i class="bx bx-home"></i>Dashboard</a>
                    <a href="/store-items" class="sidebar-item"><i class="bx bxs-package"></i>Store Items</a>
                    <a href="/memberships" class="sidebar-item"><i class="bx bxs-crown"></i>Memberships</a>
                    <a href="/events" class="sidebar-item"><i class="bx bxs-calendar-event"></i>Events</a>
                    <a href="/matches" class="sidebar-item"><i class="bx bxs-joystick"></i>Matches</a>
                </div>
                <div class="sidebar-list-bottom">
                    <a href="/auth/logout" class="sidebar-item"><i class="bx bx-log-out-circle"></i>Logout</a>
                </div>
            </nav>
        </aside>

        <!-- Main Section -->
        <main class="grid-main">
            <div class="main-header">
                <h2 class="main-title">DASHBOARD</h2>
                <div class="main-cards">
                    <div class="card">
                        <div class="card-inner">
                            <p>Active Players</p>
                            <i class="bx bx-user-pin" aria-label="Active Players"></i>
                        </div>
                        <span><%= activePlayers %></span>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <p>Active Events</p>
                            <i class="bx bx-calendar-event" aria-label="Active Events"></i>
                        </div>
                        <span><%= activeEvents %></span>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <p>Active Matches</p>
                            <i class="bx bx-joystick" aria-label="Active Matches"></i>
                        </div>
                        <span><%= activeMatches %></span>
                    </div>
                    <div class="card">
                        <div class="card-inner">
                            <p>Revenue</p>
                            <i class="bx bx-money" aria-label="Revenue"></i>
                        </div>
                        <span><%= revenue %></span>
                    </div>
                </div>
            </div>

            <div class="main-body">
                <div class="table-container-primary">
                    <div class="main-body-header">
                        <h2 class="main-title">Recent Players</h2>
                        <div class="table-button-list">
                            <select name="selector" id="selector" class="dropdown">
                                <option value="Filter">Filter</option>
                                <option value="Win Rate">Total Wins</option>
                                <option value="Win Rate">Total Game Count</option>
                                <option value="Win Rate">Win Rate</option>
                                <option value="Win Rate">Experience Point</option>
                                <option value="Win Rate">Country</option>
                            </select>
                            <button class="table-btn add-btn"><i class="bx bx-plus"></i>Add Player</button>
                            <button class="table-btn">View All</button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Total Wins</th>
                                <th>Total Game Count</th>
                                <th>Win Rate</th>
                                <th>Experience Points</th>
                                <th>Country</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% recentPlayers.forEach(player => { %>
                            <tr>
                                <td><span><%= player.username %></span></td>
                                <td><%= player.totalWin %></td>
                                <td><%= player.totalGameCount %></td>
                                <td><%= player.winRate %></td>
                                <td><%= player.experiencePoint %></td>
                                <td><%= player.country %></td>
                                <td><span><i class='bx bxs-edit edit' aria-label="Edit"></i><i class='bx bx-trash delete' aria-label="Delete"></i></span></td>
                            </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Footer Section -->
        <footer class="grid-footer">
            <span id="laptop">Developed and Designed By <span>YC Graphixs</span> | <i class="bx bx-copyright"></i> 2024 All rights Reserved.</span>
            <span id="phone">
                <div>Developed and Designed By <span>YC Graphixs</span></div> 
                <div><i class="bx bx-copyright"></i> 2024 All rights Reserved.</div>
            </span>
        </footer>
    </div>
</body>
</html>
