<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNO Game System Admin</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css">
    <link rel="icon" href="/UNO.icon" type="image/x-icon">
    <script defer src="/script.js"></script>
</head>
<body>
    <div id="grid-container">

        <!-- Header Section  -->
        <%- include("partials/header") %>

        <!-- Sidebar Section  -->
        <%- include("partials/sidebar") %>

        <!-- Main Section -->
        <main class="grid-main">
            <div class="main-body">
                <div class="table-container-primary">
                    <div class="main-body-header">
                        <h2 class="main-title">RECENT MEMBERSHIPS</h2>
                        <div class="table-button-list">
                            <select name="selector" id="selector" class="dropdown">
                                <option value="Filter">Filter</option>
                                <option value="Win Rate">Issue Date</option>
                                <option value="Win Rate">Days Remaining</option>
                                <option value="Win Rate">Privilege Class</option>
                                <option value="Win Rate">Privilege Level</option>
                                <option value="Win Rate">Status</option>
                            </select>
                            <button class="table-btn add-btn"><i class="bx bx-plus"></i>Create Membership</button>
                            <button class="table-btn">View All</button>
                        </div>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Issue Date</th>
                                <th>Days Remaining</th>
                                <th>Privilege Class</th>
                                <th>Privilege Level</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% locals.recentMemberships.forEach(element => { %>
                                <tr>
                                    <td><%= element.username %></td>
                                    <td><%= element.membershipIssueDate %></td>
                                    <td><%= element.membershipDaysRemaining %></td>
                                    <td><%= element.membershipPrivilegeClass %></td>
                                    <td><%= element.membershipPrivilegeLevel %></td>
                                    <td><%= element.membershipStatus %></td>
                                    <td><i class="bx bxs-edit edit" aria-label="Edit"></i><i class="bx bx-trash delete" aria-label="Delete"></i></td>
                                </tr>
                            <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
        </main>

        <!-- Footer Section -->
        <%- include("partials/footer") %>
    </div>
</body>
</html>
