<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UNO Game System Admin</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" />
    <link rel="icon" href="/UNO.icon" type="image/x-icon" />
    <script defer src="/script.js"></script>
</head>
<body>
    <div id="grid-container">

        <!-- Header Section -->
        <%- include("partials/header") %>

        <!-- Sidebar Section -->
        <%- include("partials/sidebar") %>

        <!-- Main Section -->
        <main class="grid-main">
            <div class="main-body" data-main-body>
                <div class="table-container-primary">
                    <div class="main-body-header">
                        <h2 class="main-title">RECENT MEMBERSHIPS</h2>
                        <div class="table-btn-list">
							<div class="dropdown-container">
                                <p class="dropdown-title">Sort By:</p> 
								<select name="selector" id="selector" class="dropdown" data-dropdown-sort data-pointer-not-allowed>
									<option value="recent" selected>Recent</option>
									<option value="daysRemaining">Days Remaining</option>
									<option value="privilegeLevel">Privilege Level</option>
									<option value="status">Status</option>
								</select>
                            </div>
                            <button class="table-btn add-btn" onclick="showCreateMembershipModal()" data-pointer-not-allowed><i class="bx bx-plus"></i>Create Membership</button>
                        </div>
                    </div>
					<div class="scrollable-table full-page">
						<table class="table">
							<thead>
								<tr>
									<th>Username</th>
									<th>Issue Date</th>
									<th>Days Remaining</th>
									<th>Privilege Class</th>
									<th>Privilege Level</th>
									<th>Status</th>
									<th>Actions</th>
								</tr>
							</thead>
							<tbody>
								<% locals.recentMemberships.forEach(element => { %>
									<tr>
										<td><%= element.username %></td>
										<td><%= element.membershipIssueDate %></td>
										<td><%= element.membershipDaysRemaining %></td>
										<td><%= element.membershipPrivilegeClass %></td>
										<td><%= element.membershipPrivilegeLevel %></td>
										<td data-status="<%= element.membershipStatus %>"><%= element.membershipStatus %></td>
										<td>
											<i class="bx bxs-edit edit" aria-label="Edit" onclick="showEditMembershipModal('<%= element.playerID %>')" data-edit data-pointer-not-allowed></i>
											<i class="bx bx-trash delete" aria-label="Delete" onclick="showDeleteItemModal('<%= element.playerID %>')" data-delete data-pointer-not-allowed></i>
										</td>
									</tr>
								<% }) %>
							</tbody>
						</table>
					</div>
                </div>
            </div>

            <div class="modal delete-item-modal" data-delete-item-modal>
                <h1>&#9888;</h1>
                <h2>Are you sure?</h2>
                <p>This action cannot be undone. All values <br>associated with this field will be lost.</p>
                <button class="btn modal-btn-delete" type="button" data-conform-delete>Delete Membership</button>
                <button class="btn modal-btn-cancel" type="button" onclick="hideDeleteItemModal()">Cancel</button>
            </div>

            <form class="modal edit-item-modal" action="/memberships/update" method="POST" data-edit-membership-modal>
                <div class="modal-header">
                    <h2>Edit Membership</h2>
                    <button class="close-btn" type="button" onclick="hideEditMembershipModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal-fields">
                        <input type="hidden" id="playerID" name="playerID" data-player-id>
                        <label for="usernameEditMembership">Username: </label>
                        <input type="text" id="usernameEditMembership" name="username" autocomplete="username" aria-label="Username" data-username disabled>
                    </div>
                    <div class="modal-fields">
                        <label for="issueDateEditMembership">Issue Date: </label>
                        <input type="date" id="issueDateEditMembership" name="issueDate" autocomplete="off" aria-label="Issue Date" data-issue-date disabled>
                    </div>
                    <div class="modal-fields">
                        <label for="expireDateEditMembership">Expire Date: </label>
                        <input type="date" id="expireDateEditMembership" name="expireDate" autocomplete="off" aria-label="Expire Date" data-expire-date>
                    </div>
                    <div class="modal-fields">
                        <label for="privilegeLevelEditMembership">Privilege Level: </label>
						<div class="modal-dropdown-container">
							<select id="privilegeLevelEditMembership" name="privilegeLevel" class="dropdown quarter-width" default="1" data-privilege-level>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<span data-privilege-class></span>
						</div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn modal-btn-confirm" type="submit">Update</button>
                    <button class="btn modal-btn-cancel" type="button" onclick="hideEditMembershipModal()">Cancel</button>
                </div>
                <div class="modal-error-message" data-modal-error-message></div>
            </form>     

            <form class="modal create-item-modal" action="/memberships/register" method="POST" data-create-membership-modal>
                <div class="modal-header">
                    <h2>Create New Membership</h2>
                    <button class="close-btn" type="button" onclick="hideCreateMembershipModal()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="modal-fields">
                        <label for="usernameCreateMembership">Username: </label>
                        <input type="text" id="usernameCreateMembership" name="username" autocomplete="username" aria-label="Username" data-username data-save-input>
                    </div>
                    <div class="modal-fields">
                        <label for="durationCreateMembership">Duration: </label>
                        <input type="number" id="durationCreateMembership" name="duration" placeholder="Duration of the membership in days" min="1" aria-label="Duration" data-duration data-save-input>
                    </div>
                    <div class="modal-fields">
                        <label for="privilegeLevelCreateMembership">Privilege Level: </label>
						<div class="modal-dropdown-container">
							<select id="privilegeLevelCreateMembership" name="privilegeLevel" class="half-width dropdown" default="1" data-privilege-level data-save-input>
								<option value="1" selected>1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
							</select>
							<span data-privilege-class></span>
						</div>
                    </div>
                </div>
				<div class="modal-footer">
					<button class="btn modal-btn-confirm" type="submit">Register</button>
					<button class="btn modal-btn-cancel" type="button" onclick="hideCreateMembershipModal()">Cancel</button>
				</div>
                <div class="modal-error-message" data-modal-error-message></div>
            </form>

            <!-- Search Result Section -->
            <div class="search-result" data-search-result></div>
        </main>

        <!-- Footer Section -->
        <%- include("partials/footer") %>
    </div>
</body>
</html>
